.DS_Store
*.pyc
.coverage
.idea
.python-version
build
dist
luigi_bigquery.egg-info
docs/_build
docs/_build_html
data
env
.env
src/*
tmp/*
analytics/tmp/*
!tmp/.gitkeep
!.gitkeep
.direnv
.envrc
.python-version
*.csv
oz_analytics_dmp_etl.egg-info
log/*
